<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<section class="palindrome">
    <form id="palindrome">
        <div class="alert info" id="alert">
        </div>
        <input type="text" class="form-control" id="word" placeholder="Digite a palavra">
        <button type="submit" class="btn btn-default">Verificar palindrome</button>
    </form>
</section>
</body>
<script src="/axios/axios.js"></script>
<script src="/javascripts/script.js"></script>
</html>
